/* Estilo geral do formulário */
form {
    background-color: #000; /* Fundo preto */
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    margin: 0 auto;
    color: #fff; /* Texto branco */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    margin-top: 200px;
}


input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 2px solid #007bff; /* Bordas azuis */
    border-radius: 5px;
    background-color: #111; /* Fundo escuro */
    color: #fff; /* Texto branco */
    font-size: 16px;
    transition: border-color 0.3s ease;
}


textarea {
    height: 100px;
    resize: vertical;
}


input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-color: #00aaff; /* Azul claro ao focar */
    outline: none;
}

input[type="submit"] {
    background-color: #007bff; /* Fundo azul */
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #005bb5; /* Azul mais escuro ao passar o mouse */
}

/* Adiciona espaço entre os inputs */
input,
textarea {
    margin-bottom: 15px;
}
